#root {
  margin: 0px auto;
  text-align: center;
  width: 100%;
  height: 100%;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}



:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

/* Typography
––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
}

h1 {
  font-size: 3.052rem;
  letter-spacing: -0.15rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.09rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.563rem;
  letter-spacing: -0.06rem;
  line-height: 1.3;
}

h5 {
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
  line-height: 1.4;
}

h6 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
}

p {
  margin-bottom: 1.563rem;
}

p > *:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  -webkit-text-decoration-color: var(--text-decoration-color);
  border-radius: 5px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration-color: var(--gray-800);
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  a:hover {
    text-decoration-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    text-decoration-color: var(--gray-700);
    -webkit-text-decoration-color: var(--gray-700);
  }
}

a:focus-visible {
  box-shadow: 0 0 0 2px var(--focus-ring-color);
  outline: none;
}



hr {
  border: 1px solid var(--gray-700);
  margin: 3.052rem 0;
}


input[type="email"],
input[type="text"],
input[type="number"],
input[type="tel"] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="tel"] {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
  }

  input[type="email"]::placeholder,
  input[type="text"]::placeholder,
  input[type="number"]::placeholder,
  input[type="tel"],
  select,
  textarea {
    color: var(--gray-500);
  }
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select,
input[type="tel"] {
  width: 75%;
}

select {
  margin: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: 10px;
  color: var(--gray-700);
  height: auto;
  background-color: var(--gray-100);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

@media (prefers-color-scheme: dark) {
  select {
    background-color: var(--gray-800);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23ffffff"/></svg>');
    border-color: var(--gray-700);
    color: white;
  }
}


input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e0e0e0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 1s, border 2s ;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover{
  background-color: var(--gray-900);
  border: 2px solid var(--gray-900);
}



td {
  border-bottom: 2px solid var(--gray-300);
}


ul {
  margin: 0;
  padding: 0 1px;
  list-style: disc outside;
  font-variant-numeric: tabular-nums;
}


ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.563rem;
}

li {
  list-style-position: inside;
}


.error {
  font-size: 12px;
  color: var(--red-600);
  margin-top: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .error {
    color: var(--red-400);
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.secondary,
button[type="reset"] {
  background-color: var(--gray-300);
  border: 2px solid var(--gray-300);
  color: var(--gray-900);
}




body{
  background-color:  #e0e0e0;
}



.row{
  margin: 0;
}


/* Input form Style */

input[type="text"], input[type="tel"], input[type="email"], select {
  border: 2px solid #e0e0e0;
  padding-left: 40px;
  box-shadow: none;  
}

/* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */

input:focus + label, input:valid + label, select:focus + label, select:valid + label{
  font-size: 14px;
  top: -9px;
  left:12.5vw;
  background: #e0e0e0;
  padding: 0px 14px 0px 14px;
  border-radius: 2px;
}

.input_wrap {
  width:auto;
  height:auto;
  position:relative;
  min-height: 85px;
}

.input_wrap label {
  color: #aca8a8;
  font-weight: bolder;
  font-family:arial;
  font-size:16px;
  padding: 14px;
  position: absolute;
  top: 0;
  left: 12.5vw;
  transition:top top 0.5s ease-in; 
  -moz-transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  pointer-events: none;

}




.card0 {
  background: linear-gradient(#54c1ec, #21287a) center center no-repeat;
  background-size: 300px;
  margin-top:2vw;
  margin-bottom:2vw;
  margin-left: 1.6vw;
  margin-right: 1.6vw;
  padding: 5%;
  transition: 0.7s border-bottom-left-radius,
              0.7s border-top-left-radius,
              0.7s border-top-right-radius,
              0.7s border-bottom-right-radius,
              0.7s width,
              0.7s height,
              0.7s margin-top,
              0.7s margin-bottom,
              0.7s margin-left,
              0.7s margin-right;
}

.card0:hover {
  background: linear-gradient(#54c1ec, #21287a) left center no-repeat;
  background-size: 600px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 1%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 18vw;
  height: 18vw;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: 0rem;
  margin-right: 0rem;
}

.land1 {
  max-height: 800px;
  max-width: 1280px;
  min-height: 70vh;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.land-main {
  height: 15vw;
  width: 15vw;
  background-color: #808080;
  border-radius: 50%;
  border: none;
  transition:  0.8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.land-title{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff !important;  
}

/* Tables
––––––––––––––––––––––––––––––––– */
table {
  width: 100%;
  border-spacing: 0;  
  margin-bottom: 1.563rem;
  padding: 1.5rem;
  font-variant-numeric: tabular-nums;
}
.table .thead-dark th {
  color: #fff;
  background-color: rgb(0, 0, 0);
  
}
.table thead th {
  vertical-align: middle;
  white-space: nowrap
}
th,
td {
  margin: 0;
  text-align: start;
}

th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid var(--gray-300);
  color: var(--gray-300);
}

.table-responsive::-webkit-scrollbar{
  display: none ;
}


